html, body {
    font-family: 'circe_light', montserratlight,sans-serif;
    font-size: 16px;
    background-color: #F7F7F7;
}

.logo {
	max-height: 100%;
}

@media screen and (max-width: 375px) {
    .logo {
         max-height: 80%;
    }
}

@media screen and (max-width: 275px) {
    .logo {
         max-height: 60%;
    }
}

@font-face {
  font-family: "circe_bold";
  src: url("/static/fonts/CirceBold/Circe-Bold.woff") format("woff"),
       url("/static/fonts/CirceBold/Circe-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "circe_light";
  src: url("/static/fonts/CirceLight/Circe-Light.woff") format("woff"),
  url("/static/fonts/CirceLight/Circe-Light.ttf") format("truetype");
}

@font-face {
  font-family: "circe_extrabold";
  src: url("/static/fonts/CirceExtraBold/Circe-ExtraBold.woff") format("woff"),
  url("/static/fonts/CirceExtraBold/Circe-ExtraBold.ttf") format("truetype");
}

p {
  line-height: 1.6em;
	margin-bottom: 30px;

}

h1, h2 {
	font-family: 'circe_bold', montserrat,sans-serif;
	margin-top: 0rem;
	color: #424242;

}

h3, h4, h5, h6  {
  font-family: 'circe_extrabold', montserrat,sans-serif;
  margin-top: 0rem;
  color: #424242;

}

h5 {
  font-size: 28px;
  margin-bottom: 30px;
}

em{
    FONT-SIZE: 18px;
    font-family: 'circe_extrabold', montserrat,sans-serif;
    font-style: normal;
  }

a {
    color: #424242;
}

a:hover, a:focus {
    color: blue;
 }

 strong {
   font-family: 'circe_bold';

 }

.col-md-12 {
    margin-top: 150px;
    margin-bottom: 200px;
}

.navbar-default .navbar-text {
    color: #656565;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    color: blue;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: blue;
}

.navbar-default .navbar-brand {
    background: #F7F7F7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, blue, pink); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, pink); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, pink); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue, pink); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #fff;
}

.form-group {
    margin: 0px;
}

.navbar-menu {
    float: left;
}

.navbar-language-selector {
    float: right;
}

.navbar-default {
    background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
}

.main_menu_bg .nave_menu {
    margin-top: 20px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background-image: linear-gradient(to bottom,white 0,white 100%);
    box-shadow: inset 0 3px 9px rgba(0,0,20,0);
    background-color: white;
    font-size: 14px;
}

.navbar-default .navbar-nav>.active>a:hover {
    color: blue;
    background: white;
}

/* Footer */

footer {
    background-color: #F7F7F7;
    margin-top: 30px;
}

.list-social i {
    color: #fff;
    background: #aaa79e;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
}

.form-control {
    display: inline-block;
    width: 60%;
    height: 35px;
    padding: 6px 25px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.42857143;
    color: #656565;
    background-color: #F7F7F7;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 30px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#mc_embed_signup input.email{
    font-family: 'circe_light', montserratlight, sans-serif;
	  font-size: 14px;
    color: #4D4D4D;
}


#mc_embed_signup label {
    font-size: 14px;
	  font-weight: inherit;
}

#mc_embed_signup .button {
    font-size: 14px;
    background-color: #cccccc52;
    border: 0px;
    color: #656565;
}

#mc_embed_signup .button:hover {
  background-color: #4D4D4D;
  color: #ccc;
  text-decoration: none;
  border: 0px;
}

/* Footer end */


/* language buttons section start */

.provodnik_language_button {
    min-width: 0px;
    display: inline-block;
    padding: .4em;
    text-align: center;
    color: #656565;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    width: 200px;
    font-weight: 400;
    border-radius: 50px;
    background-color: #cccccc52;
    border: 0px;
    transition: .5s;
    height: auto;
    margin-top: 10px;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;

}

.provodnik_language_button_group>.btn {
  position: relative;
	float: left;
	width: 45px;
  border: 0px;
}

.provodnik_language_button_group>.btn:hover {
    background-color: #4D4D4D;
    color: #ccc;
    text-decoration: none;
    border: 0px;
  }

/* language buttons section end */

/* section below overrides bootstrap and clemo style.css to give the update button the right size */

.provodnik_quantity_update_button {
    margin-top: 0px;
    height: 35px;
    min-width: 130px;
    padding: 0px;
}

/* section end */

/* Buttons section start */

.btn-primary {
    background-image: none;
    background-repeat: repeat-x;
    text-shadow: 0 0px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 0px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.btn:hover {
    background-color: #4D4D4D;
    color: #ccc;
    text-decoration: none;
    border: 0px;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover {
    background-color: #cccccc52;
    border-color: #cccccc52;
}


.btn-info, .btn-info:focus, .btn-info:hover, .btn-info:active, .btn-info:active:hover {
    background-color: #cccccc52;
    border-color: #cccccc52;
    background-image: none;
    text-shadow: none;
}

/* Buttons section end */

.list-social i {
    margin-top: 20px;
}

.list-inline>li {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.text-center {
    text-align: center;
    margin-top: 50px;
    color: #656565;
    font-size: 14px;
}

/* Shop form section start */

.form-control:focus {
    border-color: #cccccc52;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #cccccc52;
}

.form-control .option {
    outline: #ccc 5px;
    outline-color: #ccc;
    outline-style: auto;
    outline-width: 5px;
}

/* Shop form section end */

/* Pages section start */

.frontpage_row {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
}

.frontpage_column {
    float: left;
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
    min-width: 350px;
}

.tours_row {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
    position: relative;
}

.tours_column {
    float: left;
    width: 33.3%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
}

.tours-entry .image-container {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 100px;
}

.tours_line {
    width: 50%;
    height: 2px;
    float: left;
    display: block;
    margin-bottom: 50px;
    margin-right: 50%;
}

.tour_description {
  float: left;
  width: 63%;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
    min-width: 450px;
}

.tour_description_half1 {
  float: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-right: 5px;
}

.tour_description_half2 {
  float: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-left: 5px;
}

.tour_info {
  float: left;
  width: 30%;
  padding-left: 35px;
  padding-right: 35px;
  min-width: 120px;
}

.about_image {
  float: left;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-right: 5px;
}

.about_image_all{
  padding: 35px;
  padding-right: 15px;
}

.blog_column {
  float: left;
	width: 50%;
	padding: 70px;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
}

.walks_column {
  float: left;
	width: 50%;
	padding: 100px;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
}

.walks_entry {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 100px;
}

.thumbnail {
    background-color: transparent;
    border: transparent;
    box-shadow: 0 1px 2px rgba(0,0,0,0);
}

.blog_entrly {
	padding-left: 100px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
}

label {
    display: inline-block;
    max-width: 100%;
    min-width: 70px;
    margin-bottom: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.form-actions {
  margin-left: 200px;
}

.contact_us{
  margin-left: 50px;
}

#id_field_8 {
  border-width: 1px;
}

/* Pages section end */
