<ul class="list-inline list-social img-circle">
    {% if settings.SOCIAL_LINK_FACEBOOK %}
        <li><a target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}"><i class="fab fa-facebook-f"></i></a>
    {% endif %}

    {% if settings.SOCIAL_LINK_TWITTER %}
        <li><a target="_blank" href="{{ settings.SOCIAL_LINK_TWITTER }}"><i class="fab fa-twitter"></i></a>
    {% endif %}

    {% if settings.SOCIAL_LINK_INSTAGRAM %}
        <li><a target="_blank" href="{{ settings.SOCIAL_LINK_INSTAGRAM }}"><i class="fab fa-instagram"></i></a>
    {% endif %}

    {% if settings.SOCIAL_LINK_NEWSLETTER %}
        <li><a target="_blank" href="{{ settings.SOCIAL_LINK_NEWSLETTER }}"><i class="far fa-envelope"></i></a>
    {% endif %}
</ul>


<!-- {% load i18n pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
    {% if page.is_primary %}
        {% if forloop.first %}
            <div class="nav-footer">
        {% endif %}
        {% if page.in_menu %}
            <ul class="list-unstyled">
        {% endif %}
    {% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            <ul class="list-unstyled">
        {% endif %}
        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}
            id="footer-menu-{{ page.html_id }}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
    {% endif %}

    {% if page.in_menu and page.has_children_in_menu %}{% page_menu page %}{% endif %}

    {% if page.in_menu %}
        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}
            </li></ul>
        {% endif %}
    {% endif %}

    {% if page.is_primary %}
        {% if page.in_menu %}
            </ul>
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endif %}

{% endfor %}

{% endif %}
{% endspaceless %} -->
