<div class="container">
    <div class="row">
    <div class="col-md-6 left">
        <ul class="list-inline list-social img-circle">
            {% if settings.SOCIAL_LINK_FACEBOOK %}
            <li><a target="_blank" href="{{ settings.SOCIAL_LINK_FACEBOOK }}"><i class="fab fa-facebook-f"></i></a></li>
            {% endif %}

            {% if settings.SOCIAL_LINK_TWITTER %}
            <li><a target="_blank" href="{{ settings.SOCIAL_LINK_TWITTER }}"><i class="fab fa-twitter"></i></a></li>
            {% endif %}

            {% if settings.SOCIAL_LINK_INSTAGRAM %}
            <li><a target="_blank" href="{{ settings.SOCIAL_LINK_INSTAGRAM }}"><i class="fab fa-instagram"></i></a></li>
            {% endif %}

            {% if settings.SOCIAL_LINK_NEWSLETTER %}
            <li><a target="_blank" href="{{ settings.SOCIAL_LINK_NEWSLETTER }}"><i class="far fa-envelope"></i></a></li>
            {% endif %}
        </ul>
    </div>

    <div class="col-md-6 right">
        <!— Begin MailChimp Signup Form —>
        <div id="mc_embed_signup">
            <form action="https://provodniktours.us18.list-manage.com/subscribe/post?u=983514464fc736613f7a9d2a2&amp;id=f7b16e585f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!— real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_983514464fc736613f7a9d2a2_f7b16e585f" tabindex="-1" value=""></div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
    </div>
</div>